{% extends 'base.html.twig' %}

{% block title %}sort{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="table-container">  
  <div class="table-horizontal-container">
    <table class="unfixed-table">
      <thead>
        <tr> 
		{% for key1,value1 in sort %}         
		{% for key2,value2 in arr %}
			{% if key2|slice(0, 1) == value1 %}			
				{% if key2|slice(1, 2) == 1 %}
					<th>{{ value2 }}</th>
				{% endif %}
			{% endif %}
        {% endfor %}
		{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% set n = 3 %}
	{% set cont = 0 %}
	{% for n in 3..max %}
	<tr>
	  	{% for key1,value1 in sort %}         
		{% for key2,value2 in arr %}
			{% set a = key2|slice(0, 1) %}
			{% if key2|slice(0, 1) == value1 %}
				{% if key2|slice(1, 2) == n and key1 > cont %}
					<th> </th>
					{% set cont = cont + 1 %}
				{% endif %}
				{% if key2|slice(1, 2) == n and key1 == cont %}
					<th>{{ value2 }}</th>
					{% set cont = cont + 1 %}
				{% endif %}
			{% endif %}
        {% endfor %}
		{% endfor %}
	</tr>
	{% set cont = 0 %}
	{% endfor %}
	</tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
