{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div classe="image">
<img src="icon.png">
</div>
<form action="{{ path('app_read') }}" method="post">
<div class="example-wrapper">
<h1>Welcome !</h1>
<br>
{% for value in array1 %}
<label class="switch">
	<input type="checkbox" id="demo2" value="{{value}}" onclick="clickFn(event)"/>
	<span></span>
</label>
{{ value }}
<br>
{% endfor %}
<script>
let selected = [];
function clickFn(event) {
  const checkbox = event.currentTarget;
  if (checkbox.checked == true) {
    selected.push(checkbox.value);
    output.value = selected;
  } else {
    var index = selected.indexOf(checkbox.value);
    selected.splice(index, 1);
    output.value = selected;
  }
}
</script>
<input type="hidden" id="output" name="test" value=""></p>
<input type="submit" value="OK"></p>
</form>
</div>


{% endblock %}
