{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div classe="image">
<img src="icon.png">
</div>

<div class="example-wrapper">
Welcome here
<br>
<label class="switch">
	<input type="checkbox" />
	<span></span>
</label>

</div>


{% endblock %}
