{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}

<div class="example-wrapper">
{% for key,value in array1 %}

    {{key}}
    <br>
    {{ value }}
    <br>

{% endfor %}
</div>


{% endblock %}